#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../Images/hero.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    text-align: right;
}

.hero-content {
    display: flex;
    flex-direction: column;
    margin-right: 6rem;

    & h1 {
        font-size: 4.5rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.1;
        margin: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }
}
