@media screen and (max-width: 500px) and (min-width: 320px) {

    /* grille des stats */
    .stats-container {
        display: flex;
        flex-wrap: wrap;
    }

    /* button sticky */
    .sticky-download-button {
        display: none;
    }

    /* formulaire */
    .container {
        flex-direction: column;
    }

    #hero {
        text-align: center;
        width: auto;
        height:100vh;
        padding-left: 8rem;
        position: relative;
        background-size: cover;
    }

    .hero-content>h1 {
        font-size: 2rem;
        margin: auto;
        padding: auto;
    }
    div.text-content > p{
        font-size: 1.5rem;
    }
}