@import "reset.css";
@import "layout.css";
@import "hero.css";
@import "Formular.css";
@import "Responsive.css";
@import "Animation.css";
@import "Fonts.css";


img {
    width: 250px;
}

body {
    font-family: 'SwissNow', Arial, Helvetica, sans-serif;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
}
p{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
label{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}