@import "reset.css";
@import "layout.css";
@import "Formular.css";
@import "Animation.css";
@import "Fonts.css";

img {
    width: 250px;
}

body {
    font-family: 'SwissNow', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}